.tournamentTitle {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 24px;
}

.poolName {
    text-align: center
}

.fab {
    float: right;
}