.App-header {
  background-color: #2c2c2c;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-footer {
  background-color: #2c2c2c;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60vh;
}

.appName {
  font-family: 'Heineken';
  font-size: 12vh;
  background: -webkit-linear-gradient(#bc7012 50%, #efd002 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttonBar {
  display: flex;
  justify-content: space-around;
  width: 70%;
}